.banner-home{
    background: url(../../../Assets/Images/banner-bg.jpg) no-repeat right bottom/cover;
    min-height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
}

.banner-home::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #7319af70;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner-home .content-parent{
   max-width: 1280px;
   margin: auto;
   flex-grow: 1;
}

.banner-home .text{
    position: relative;
    z-index: 99;
    color: #fff;
}

.banner-home .text span{
    color: #ff00eafb;
}